<template>
  <section class="section">
    <div v-for="(icon, i) in icons" :key="i">
      <img :src="icon" />
    </div>
  </section>
</template>

<script>
export default {
  name: 'Icons',
  props: {
    category: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      icons: [],
    }
  },
  mounted() {
    require(`~/assets/${this.category}.json`).forEach((icon) => {
      this.svg2png(icon).then((png) => {
        this.icons.push(png)
      })
    })
  },
  methods: {
    async svg2png(fileName) {
      const response = await fetch(
        `${this.$router.options.base}${this.category}/${fileName}`
      )
      const blob = await response.blob()
      const svgData = await blob.text()

      const canvas = document.createElement('canvas')
      canvas.width = 64
      canvas.height = 64

      const ctx = canvas.getContext('2d')
      const image = new Image()
      await new Promise((resolve) => {
        image.onload = function () {
          ctx.drawImage(image, 0, 0)
          resolve()
        }
        image.src =
          'data:image/svg+xml;charset=utf-8;base64,' +
          btoa(unescape(encodeURIComponent(svgData)))
      })
      return canvas.toDataURL('image/png')
    },
  },
}
</script>
<style scoped>
.section {
  display: flex;
  flex-wrap: wrap;
}
</style>
